@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");

.button-container-3 {
  position: relative;
  width: 250px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  /* border: 1px solid #5ba515; */
  font-family: "Lato", sans-serif;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 5px;
}
.button-container-3 button {
  width: 101%;
  height: 100%;
  /* font-family: "Lato", sans-serif; */
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1px;
  /* font-weight: bold; */
  background: #5ba515;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container-3 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
  /* transform: translate(-65%, 500%); */
}

.button-container-2 {
  position: relative;
  width: 120px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  overflow: hidden;
  /* border: 1px solid #5ba515; */
  font-family: "Lato", sans-serif;
  /* font-weight: 300; */
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 5px;
}
.button-container-2 button {
  width: 101%;
  height: 100%;
  /* font-family: "Lato", sans-serif; */
  /* font-weight: 300; */
  font-size: 18px;
  letter-spacing: 1px;
  /* font-weight: bold; */
  background: #5ba515;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(29) forwards;
  animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;
}

.mas {
  position: absolute;
  color: #5ba515;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 18px;
  margin-top: 12px;
  overflow: hidden;
  /* font-weight: bold; */
}

.pottingBtn .mas {
  position: absolute;
  color: #fff;
  text-align: center;
  width: 101%;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 18px;
  margin-top: 12px;
  overflow: hidden;
  /* font-weight: bold; */
}

@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@-webkit-keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}

.redirect_button {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
}
.admin_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.about_links:hover {
  color: green;
}

.addColor:hover {
  color: darkgreen;
}

.arrowRight {
  color: #436150;
}

.arrowLeft {
  color: #436150;
  transform: rotate(65deg);
}

.carouselImg img {
  width: 100px !important;
}

.adminHeader {
  position: fixed;
  width: 100%;
  display: block !important;
  z-index: 1000;
  background: #70996b !important;
}

/* .imgSize {
  width: 220px;
  height: 220px;
  object-fit: cover;
} */

.left-side-menu {
  background: #70996b !important;
}

.bgDarkGreen {
  background: #70996b !important;
}

#sidebar-menu > ul > li > a {
  color: #ffffff;
}

.customCart {
  padding: 1rem 0.3rem 1rem 1rem !important;
}

#sidebar-menu > ul > li > a:active,
#sidebar-menu > ul > li > a:focus,
#sidebar-menu > ul > li > a:hover {
  color: #fff;
  text-decoration: none;
  background-color: rgb(255, 102, 0);
}

#sidebar-menu > ul > li > a.active {
  color: #fff;
  text-decoration: none;
  background-color: rgb(255, 102, 0);
}
