* {
  scroll-behavior: smooth;
}

.header_buttons .btn {
  padding: 0.4rem 1.6rem !important;
  font-size: 0.8rem;
}
.header_buttons .btn1 {
  background: #436150;
}
.header_buttons .btn2 {
  background: #70996b;
}
.header_buttons .btn3 {
  background: #94c657;
}
.header_buttons .btn4 {
  background: #93bf8a;
}
.header_buttons .btn5 {
  background: #b1ca91;
}
.cus_modal {
  width: 350px !important;
}
.greenBg {
  background: #b1ca91;
}
.btnGreen {
  background: #436150;
}

.custom_con {
  width: 60%;
}

/* .green */
.header_buttons .btn:hover {
  background: rgb(255, 102, 0);
  color: #fff;
}
.header_buttons .btn.active {
  background: rgb(255, 102, 0);
  color: #fff;
}

.addColor {
  background: #70996b;
  color: #fff;
}
/* .modal-header {
  background-color: #5ba515 !important;
  color: white !important;
  padding: 0.4rem 0rem !important;
}
.modal-title {
  color: #fff !important;
  font-size: 1.8rem;
  padding: 0px 2rem;
}
.modal-header button {
  background: none;
  font-size: 2rem;
  outline: none;
  border: none;
  color: #fff !important;
  padding: 0px 2rem !important;
} */

.modal-header .close {
  transform: translate(-100%, 80%);
}

.fa-pen:hover {
  color: rgb(11, 185, 197);
}

.fa-trash:hover {
  color: rgb(255, 9, 9);
}

.marginLeft {
  margin-left: auto;
}

/* .navMargin {
  margin-left: 20%;
} */

.testimonial_section {
  padding: 10rem !important;
  text-align: center;
  background-image: url("https://techraven-uploadimages.s3.ap-south-1.amazonaws.com/ClientsBG.png");
}

.moveBtn {
  transform: translateX(-90%) !important;
}

.carousel-indicators li {
  border-radius: 50% !important;
  width: 12px !important;
  height: 12px !important;
  height: auto;
  transform: translateY(300%);
}

/* preloader */
.preloader {
  background: rgba(255, 255, 255, 0.815);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader_img {
  background: rgba(255, 255, 255, 0.747);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.preloader .spinner {
  animation: sk-scaleout 2s infinite ease-in-out;
}

.cart_count {
  position: absolute;
  top: 0%;
  left: 35%;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  /* padding-top: -20px !important; */
}

.modal_body {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modal_body::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}

.modal_body::-webkit-scrollbar-thumb {
  background-color: #6c757d;
}
.img-thumbnail {
  border: none !important;
  background-color: transparent !important;
  display: block;
}

.loader {
  width: 200px !important;
  height: 200px !important;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.loading-indicator {
  z-index: 1000000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  background: rgba(255, 255, 255, 0.541);
}

.sk-folding-cube {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

.roboto {
  font-family: sans-serif;
  font-size: 1.2rem;
}

.fontStyle {
  font-family: "Dancing Script", cursive;
  font-size: 1.3rem;
}

.bi-eye-fill {
  position: absolute;
  top: 60%;
  right: 5%;
  cursor: pointer;
  z-index: 100;
  font-size: 1rem;
}
/* .bi-eye-fill-color {
  color: rgb(23, 219, 233);
} */

#myTab li a {
  font-size: 0.8rem;
}
#myTab li .active {
  color: #5ba515;
}

.cart_btn {
  border: none;
  outline: none;
  padding: 0.6rem !important;
  line-height: 1rem;
  background: rgba(118, 118, 118, 0.3);
  margin: auto !important;
}

.tabBody {
  height: 120px;
  overflow-y: scroll;
}

.tabBody::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f5;
}
.tabBody::-webkit-scrollbar-thumb {
  background-color: #5ba515;
}
.benefitsHeight {
  height: 120px;
  overflow-y: scroll;
  margin-bottom: 0.5rem;
  font-size: 0.8rem !important;
}

.benefitsHeight::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
}

.benefitsHeight::-webkit-scrollbar-thumb {
  background-color: #5ba515;
}

.cart_btn1 {
  border: none;
  outline: none;
  padding: 1rem 1rem !important;
  line-height: 1rem;
  background: rgba(118, 118, 118, 0.3);
  margin: auto !important;
}

.cart_btn:hover {
  color: #5ba515;
}

thead {
  font-size: 1.2rem;
}

.social-nav a:hover .fa.fa-instagram {
  color: #e95950;
}

.servicesButton li a {
  background: #5ba515;
  color: #fff !important;
  padding: 0.7rem;
  border-radius: 0.5rem;
  text-align: center;
}
.servicesButton li:hover a {
  transform: scale(1.1);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.servicesButton {
  transform: translateY(200%);
  transition: all 0.4s ease-in-out;
}

.servicesImg:hover .servicesButton {
  transform: translateY(-180%);
}

.social-nav a:hover .fa.fa-linkedin {
  color: #0077b5;
}
.social-nav a:hover .fa.fa-youtube-play {
  color: #e95950;
}
.social-nav a:hover .fa.fa-facebook {
  color: blue;
}
.social-nav a:hover .fa-twitter {
  color: #55acee !important;
}
.social-nav a:hover .fa-whatsapp {
  color: #25d366;
}

.serviceTable table {
  width: 100% !important;
  text-align: left;
  padding: 0.5rem !important;
}

.serviceTable p {
  font-size: 1rem !important;
}

.mainRadio {
  width: 20px;
  height: 20px;
  background-color: #fff;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.radio1 {
  width: 10px;
  height: 10px;
  background-color: #70996b;
  display: block;
  border-radius: 50%;
}

.serviceTable .table td,
.serviceTable .table th {
  padding: 0.2rem !important;
  border-top: none !important;
  font-size: 0.8rem !important;
}
.table td,
.table th {
  padding: 0.2rem !important;
  border-top: none !important;
}

.cart-number input[type="text"] {
  padding: 1rem;
  width: 80px !important;
  /* margin: 0.1rem !important; */
  height: 20px;
}

.shareBtns li a {
  font-size: 1.2rem;
  color: #808080 !important;
}
.shareBtns li a:hover {
  color: #5ba515 !important;
}

.director_img {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 300px;
  height: 100%;
}

.pottingText {
  color: #fff !important;
}

.headerBg {
  background: #fff !important;
}

.servicesImg h4:hover {
  color: #5ba515;
  cursor: pointer;
}

.servicesImg p:hover {
  color: #5ba515;
  cursor: pointer;
}

.mainCarousel {
  position: absolute;
  top: 0%;
  left: 0%;
  max-height: 100vh;
  overflow: hidden;
}
.mainCarousel img {
  height: 100vh;
  object-fit: cover;
}

.serviceImage {
  width: 180px !important;
  margin: 0 auto;
  display: block;
}

.appointmentBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #64c5b13d;
  border: 1.5px solid #64c5b1;
  transition: all 0.2s ease-in-out;
}
.appointmentBtn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.filter-white {
  fill: #fff;
  transform: scale(1.3);
  filter: invert(100%) sepia(79%) saturate(2476%) hue-rotate(175deg)
    brightness(118%) contrast(119%);
}

.customInput {
  width: 50px !important;
}

@media (max-width: 992px) {
  .marginLeft {
    margin-left: auto;
  }
  .navMargin {
    margin-left: auto;
  }
  .bgColor {
    background: #fff;
  }
}
@media (max-width: 992px) {
  .custom_con {
    width: 80%;
  }

  .testimonial_section {
    padding: 2rem !important;
  }
  #myTab li a {
    font-size: 1rem;
  }
  .button-container-3,
  .button-container-2 {
    display: none;
  }
}
@media (max-width: 450px) {
  .moveBtn {
    transform: translateX(-50%) !important;
  }

  #myTab li a {
    font-size: 0.6rem;
  }
  .pottingText {
    color: #000 !important;
  }
  .item {
    transform: scale(0.9);
  }
  #content .row .col-sm-6 {
    transform: scale(0.7);
    margin: -3rem auto !important;
  }
  #content .row .col-sm-6 .title {
    font-size: 1.4rem;
  }
  #content .row .col-sm-6 .price {
    font-size: 1.4rem;
  }
  .aboutContent {
    font-size: 0.8rem;
  }
  .aboutWrapper {
    height: 20px;
    overflow: hidden;
  }
  .serviceImage {
    width: 250px !important;
    margin: 0 auto;
    display: block;
  }

  .header_buttons .btn {
    padding: 0.8rem !important;
    font-size: 0.8rem;
    padding-bottom: 0px !important;
    width: 50px;
    height: 53px;
  }
  .header_buttons .btn span {
    font-size: 0.6rem;
  }
  .header_buttons .btn img {
    margin-bottom: 2px;
  }

  .serviceHeaderImage {
    filter: invert(100%) sepia(79%) saturate(2476%) hue-rotate(196deg)
      brightness(118%) contrast(119%);
    width: 20px !important;
  }

  .headBtn {
    display: flex;
    flex-direction: column;
  }

  .cart-number input[type="text"] {
    transform: translateY(10px);
  }
  .btn.btnShop {
    min-width: 140px;
    /* transform: scale(0.9); */
  }
}
